/*MuseoSlab*/
@font-face {
    font-family: 'Museo Slab';
    src: url('/fonts/museoSlab/MuseoSlab-500.eot');
    src: local('Museo Slab 500'), local('MuseoSlab-500'),
        url('/fonts/museoSlab/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
        url('/fonts/museoSlab/MuseoSlab-500.woff2') format('woff2'),
        url('/fonts/museoSlab/MuseoSlab-500.woff') format('woff'),
        url('/fonts/museoSlab/MuseoSlab-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}