/*Vars*/
$white: #fff;
$white-milk: #fefefe;
$white-opacity: rgba(255, 255, 255, 0.61);
$dark-grey: #7c7c7c;
$blue: #42a8f6;
$blue-grey: #479ee1;
$black: #3e3e3e;
$black-grey: #494949;
$blue-light: #66d4f4;
$blue-blur: #f4fbfc;
$blue-magic: #52d8f4;
$milk: #f5fafa;
$milk-grey: #dfdfdf;